/* GRID ****************************************************/
*{
  margin:0;
  padding:0;
  font-weight: initial;
  outline: none;
  box-sizing: border-box;
}
html {  
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; /*Prevenir que o tamanho do texto no iOS ajuste após 
                                    alteração de orientação, sem desativar zoom do usuário */
}

/* GRID ****************************************************/
.cnt-100 {
    width: 100%
}
.cnt-20 {
    width: calc(20% - 25px);
}
.cnt-center {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    position: relative
}
.cnt-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Header  *******************************************/
header{
    border-top: 20px solid #912B84;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .logo {
      width: 291px;
  }
  .titulo{
      font-family: 'Quicksand', sans-serif;
      font-size: 23px;
      color: #877f7f;
      margin-bottom: 11px;
      border-bottom: 1px solid #912B84;
      padding-bottom: 10px;
  }

/* Form *******************************************/
.form_calc{
    align-items: center;
}
  .form_calc .label{
      font-family: 'Quicksand', sans-serif;
      font-size: 18px;
      color: #912B84;
      font-weight: normal;
      line-height: 17px;
      display: block;
      padding: 7px 0px;
  }
  .form_calc .input{
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      height: 40px;
      color: #7c7c7c;
      width: 100%;
      font-weight: normal;
      line-height: 17px;
      padding: 0 7px; 
  }
  .form_calc button{
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      color:#fff;
      border: 1px solid #912B84;
      background: #912B84;
      padding: 10px;
      cursor: pointer;
      transition:background 300ms ease;
  }
    .form_calc button:hover{
        background: #FFF;
        color:#912B84;
    }

/* Resultado *******************************************/
.result{
    margin-top:30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.result-withtax,.result-notax{
    display: none;
}
    .result h1{
        font-family: 'Quicksand', sans-serif;
        font-size: 22px;
        color:#656363;
        margin: 15px auto;
        position: absolute;
        left: 0;
        right: 0;
    }
      .result h1:nth-child(2){
        top:35px;
      }
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  
}
.loader {
  display:none;
  margin: 10px auto;
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  border-top: 3px solid rgba(128,0,128, 0.2);
  border-right: 3px  solid rgba(128,0,128, 0.2);
  border-bottom: 3px  solid rgba(128,0,128, 0.2);
  border-left: 3px  solid #800080;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinnerAnimado 1.1s infinite linear;
  animation: spinnerAnimado 1.1s infinite linear;
}
@-webkit-keyframes spinnerAnimado {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinnerAnimado {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Responsividade *******************************************/
@media screen and (max-width: 1156px){
  .cnt-50-m {
      width: calc(50% - 25px);
  }
  .form_calc button{
    width:100%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 720px){
  .logo {
      width: 198px;
  }
}
@media screen and (max-width: 480px){
  .cnt-100-m {
      width: 100%;
      margin-top: 15px;
  }

}